################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DBML/PBL_EC5.dbmdl
/DBML/PBL_EC5.jfm
/.vs/PBL_EC5/v17
/.vs/PBL_EC5/FileContentIndex
/.vs
/Database.PBL_EC5/Database.PBL_EC5.dbmdl
/Database.PBL_EC5/Database.PBL_EC5.jfm
/PBL_EC5
/PBL_EC5/.vs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.AssemblyInfo.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.AssemblyInfoInputs.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.assets.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.csproj.AssemblyReference.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.GeneratedMSBuildEditorConfig.editorconfig
/PBL_EC5/obj/project.nuget.cache
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.dll
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.exe
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.pdb
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.runtimeconfig.dev.json
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.Views.dll
/PBL_EC5/bin/Debug/netcoreapp3.1/PBL_EC5.Views.pdb
/PBL_EC5/obj/Debug/netcoreapp3.1/apphost.exe
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.csproj.CoreCompileInputs.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.csproj.FileListAbsolute.txt
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.dll
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.genruntimeconfig.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.MvcApplicationPartsAssemblyInfo.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.pdb
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.RazorCoreGenerate.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.RazorTargetAssemblyInfo.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.RazorTargetAssemblyInfo.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.sourcelink.json
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.Views.dll
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.Views.pdb
/PBL_EC5/obj/PBL_EC5.csproj.nuget.g.props
/PBL_EC5/obj/project.assets.json
/PBL_EC5/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.PBL_EC5.Microsoft.AspNetCore.StaticWebAssets.props
/PBL_EC5/obj/Debug/netcoreapp3.1/staticwebassets/PBL_EC5.StaticWebAssets.Pack.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Dashboard1.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Dashboard2.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Estufa/Cadastro.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Estufa/Index.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Home/Sobre.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Motor/Cadastro.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Motor/Index.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Cadastro.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Consulta.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/Usuario/Login.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.RazorAssemblyInfo.cs
/PBL_EC5/obj/PBL_EC5.csproj.nuget.dgspec.json
/PBL_EC5/obj/Debug/netcoreapp3.1/project.razor.vs.bin
