################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DBML/PBL_EC5.dbmdl
/DBML/PBL_EC5.jfm
/.vs/PBL_EC5/v17
/.vs/PBL_EC5/FileContentIndex
/.vs
/Database.PBL_EC5/Database.PBL_EC5.dbmdl
/Database.PBL_EC5/Database.PBL_EC5.jfm
/PBL_EC5
/PBL_EC5/.vs
/PBL_EC5/obj/Debug/netcoreapp3.1/Razor/Views
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.AssemblyInfo.cs
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.AssemblyInfoInputs.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.assets.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.csproj.AssemblyReference.cache
/PBL_EC5/obj/Debug/netcoreapp3.1/PBL_EC5.GeneratedMSBuildEditorConfig.editorconfig
