/*LOGIN - TELA INICIAL*/
/*LOGIN - CADASTRO*/
/*GERAL*/
body {
    margin: 0;
    /*height: 100vh;*/
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    background: linear-gradient(to bottom, #66FFCC, #0099CC);
    font-family: sans-serif;
}

.logo {
    background-color: rgb(255, 255, 255);
    width: 140px;
    border-radius: 100%;
    padding: 10px;
}

.formLogin {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.4);
}

.paddingLogin {
    padding: 30px 15px 5px 15px;
}

.paddingCadastro {
    padding: 20px 50px 5px 50px;
}

.btn_entrar, .btn_cadastrar {
    background-color: rgb(25, 193, 159) !important;
    color: white !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    padding: 5px 50px;
}

    .btn_entrar:hover, .btn_cadastrar:hover {
        background-color: rgb(19, 145, 118) !important;
    }

.input_form {
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    padding: 7px 15px;
    font-size: 15px;
    width: 100%;
}

a {
    color: rgb(19, 145, 118) !important;
    font-weight: bold;
}

    a:hover {
        color: rgb(12, 88, 72) !important;
    }

.pic_placeholder {
    width: 200px;
    border-radius: 50%;
    border: 2px solid #66FFCC;
    object-fit: cover; /* Caso carregue uma imagem, ela cobre o espaço */
    cursor: pointer; /* Indica que pode ser clicado (para upload) */
}

.divErro {
    width: 75%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffcccc;
    border: 1px solid red;
    border-radius: 5px;
    /* Alinhamento vertical e horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
}
