@using Microsoft.AspNetCore.Http
@using PBL_EC5.Controllers
@inject IHttpContextAccessor HttpContextAccessor
@model DadosEstufaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdm = HelperControllers.VerificaAdm(HttpContextAccessor.HttpContext.Session);
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/css/cadastro.css" />

<div class="text-center">
    <h2 class="mt-4 text-center">Visualização da estufa - Nº @Model.Id_Estufa</h2><br />

    <input type="hidden" id="EstufaId" value="@Model.Id_Estufa" />

    <div class="formLogin paddingCadastro mx-auto w-75 mb-4">
        <div class="container mt-3">
            <h2 class="m-2 text-center">Tempo real</h2><br />
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <canvas id="myChart"></canvas>
                </div>
            </div>

            @if (isAdm)
            {
                <div class="row m-4 pt-3" style="border-top:1px solid aqua">
                    <h2 class="col-md-12 mt-2 mb-4 text-center">Histórico</h2><br />
                    <div class="col-md-4">
                        <label for="dataInicial" style="font-weight:600">Data Inicial</label>
                        <input type="date" id="dataInicial" class="input-form form-control"
                               value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-md-4">
                        <label for="dataFinal" style="font-weight:600">Data Final</label>
                        <input type="date" id="dataFinal" class="input-form form-control"
                               value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-end">
                        <button id="btnBuscarHistorico" class="btn btn_pesquisar">Buscar</button>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <canvas id="myChartHistorico"></canvas>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=https://cdn.jsdelivr.net/npm/chart.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="~/js/dashboard.js"></script>

    <script>
        // Executa a função init quando o DOM estiver pronto
        $(document).ready(function () {
            dashboard.init();
        });
    </script>
}



