@using Microsoft.AspNetCore.Http
@using PBL_EC5.Controllers
@inject IHttpContextAccessor HttpContextAccessor
@model DadosEstufaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdm = HelperControllers.VerificaAdm(HttpContextAccessor.HttpContext.Session);
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/css/cadastro.css" />
<script src="~/js/dashboard.js"></script>

<div class="text-center">
    <h2 class="mt-4 text-center">Visualização da estufa em tempo real</h2><br />

    <input type="hidden" id="EstufaId" value="@Model.Id_Estufa" />

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="IdCliente" class="control-label" style="font-weight:600">Estufa relacionada</label>
            <select asp-for="Id_Estufa" class="input_form form-control" value="@Model.Id_Estufa" disabled></select>
        </div>
    </div>
    <div class="col-md-4"></div>

    <div class="formLogin paddingCadastro mx-auto w-75 mb-4">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src=https://cdn.jsdelivr.net/npm/chart.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Executa a função init quando o DOM estiver pronto
        $(document).ready(function () {
            dashboard.init();
        });
    </script>
}



