@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Home - Sistema de Monitoramento IoT</title>
</head>
<body>
    <section class="p-4" style="background-color:#fff; border: 1px solid rgb(0, 102, 102); border-radius: 10px;">
        <h1 class="text-center">Bem-vindo ao Sistema de Monitoramento IoT</h1>
        <p>
            Este sistema foi desenvolvido como parte do Projeto Baseado em Aprendizagem (PBL)
            na disciplina de Linguagem de Programação I, com foco no
            <strong>monitoramento e controle térmico</strong> de estufas de secagem de motores elétricos.
        </p>

        <p>
            Utilizando tecnologias de IoT, ASP.NET Core MVC e bancos de dados,
            nossa plataforma possibilita:
        </p>
        <ul>
            <li>Monitoramento em tempo real de variáveis como temperatura e umidade.</li>
            <li>Exibição de leituras históricas em dashboards interativos.</li>
            <li>Gestão de cadastros de usuários, clientes e estufas.</li>
        </ul>
    </section>
</body>
</html>
