@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    <h2>Login</h2>
    <form class="form p-4" asp-controller="Usuario" asp-action="Login" method="post">
        @if (!string.IsNullOrEmpty(ViewBag.UsuarioLogado))
        {
            <label class="control-label text-danger">@ViewBag.UsuarioLogado</label>
        }

        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <input type="text" Name="Email" value="@Model.Email" required />
        </div>

        <div class="form-group">
            <label for="SenhaHash" class="control-label">Senha</label>
            <input type="password" Name="SenhaHash" value="@Model.SenhaHash" required />
        </div>

        <div class="d-flex justify-content-center align-items-center mt-5">
            <a href="/Usuario/Index">Cancelar</a>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input class="btn btn-primary" type="submit" value="Entrar" />
        </div>

        <div class="d-flex justify-content-center align-items-center mt-2">
            <a href="/Usuario/Cadastrar">Cadastrar</a>
        </div>
    </form>
</div>
