@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div>
    <div class="mx-auto my-4 text-center">
        <img class="logo" src="~/logo1.png" alt="Logo" />
    </div>
    <form class="form px-4" asp-controller="Usuario" asp-action="Entrar" method="post">
        <div class="formLogin paddingLogin mx-auto w-50">
            @if (!string.IsNullOrEmpty(ViewBag.Erro))
            {
                <div class="divErro">
                    <label class="control-label text-danger mb-0">@ViewBag.Erro</label>
                </div>
            }
            <div class="form-group px-5">
                <div>
                    <label for="Email" class="control-label" style="font-weight:600">Email</label>
                </div>
                <div>
                    <input class="input_form" type="text" Name="Email" value="@Model.Email" placeholder="pbl@gmail.com" required />
                </div>
            </div>

            <div class="form-group px-5">
                <div>
                    <label for="Senha" class="control-label" style="font-weight:600">Senha</label>
                </div>
                <div>
                    <input class="input_form" type="password" Name="Senha" value="@Model.Senha" placeholder="••••••••" required />
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-4">
                <input class="btn_entrar btn btn-primary" type="submit" value="Entrar" />
            </div>

            <div class="d-flex justify-content-end align-items-center mt-2 px-2">
                <a href="/Usuario/Cadastrar">Cadastrar</a>
            </div>
        </div>
    </form>
</div>
