<footer class="bg-dark text-white mt-5 py-4">
    <div class="container text-center">
        <p class="mb-1">&copy; @DateTime.Now.Year - Key Tech</p>
        <p class="mb-0">Desenvolvido por <a href="https://seusite.com" class="text-warning text-decoration-none">Key Tech LTDA.</a></p>
    </div>
</footer>
